In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
import pandas as pd

x = pd.Series([7,3,5,8])
print(x)

0    7
1    3
2    5
3    8
dtype: int64

In [9]:
import pandas as pd
x = pd.Series([7,3,5,8], index=['서울', '대구', '부산', '광주'])
x = x.reindex(sorted(x.index))
print(x)

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [10]:
import pandas as pd
x = pd.Series([7,3,5,8], index=['서울', '대구', '부산', '광주'])
y = pd.Series([2,3,5,1], index=['대구', '부산', '서울', '대전'])
print(x+y)

광주     NaN
대구     5.0
대전     NaN
부산     8.0
서울    12.0
dtype: float64

In [11]:
medal = [1,3,2,4,2,3]
x = pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [13]:
age = {'채강' : 5, '리아' : 4.5, '민서' : 4, '지호' : 1}
x = pd.Series(age)
print(x)

채강    5.0
리아    4.5
민서    4.0
지호    1.0
dtype: float64

In [17]:
data = {'age':[23,43,12,45],
    'name':['민준','현우','서연','동현'],
    'height':[175.3,180.3,165.8,172.7]}

x=pd.DataFrame(data, columns=['name','age','height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [21]:
ary = [[1,2],[3,4],[5,6]]
data = pd.DataFrame(ary, columns=['firts','second'])
data.head(2)

   firts  second
0      1       2
1      3       4

In [19]:
data.iloc[1]

firts     3
second    4
Name: 1, dtype: int64

In [ ]:
data[수온] = data['수온'].astype('float')

In [23]:
import pandas as pd
news = pd.read_csv('../Data Collection (Scrapping)/news_result.csv')
news.head()

,"한은, 기준금리 동결…""코로나 불확실성 잠재""(종합2보)",http://yna.kr/AKR20210715061651002?did=1195m
0,'파병' 청해부대 6명 코로나19 확진…'집단감염' 가능성(종합),https://www.news1.kr/articles/?4372176
1,"금통위, 코로나 확산에도 금리 인상 시그널..""통화완화 정도 조정할 것""(상보)",http://www.edaily.co.kr/news/newspath.asp?news...
2,"한은 금통위, 기준금리 0.5% 동결...코로나 4차 유행 감안",http://www.newsis.com/view/?id=NISX20210715_00...
3,"청해부대서 '코로나19' 6명 확진···합참, 백신 보급도 안해",https://www.khan.co.kr/politics/defense-diplom...
4,민관 협력해 ‘코로나블루 디지털 치료제’ 개발한다,http://www.busan.com/view/busan/view.php?code=...

In [24]:
import pandas as pd 
data = pd.read_csv('./공공데이터활용지원센터_코로나19 예방접종센터 현황_20210716.csv', encoding='cp949')
data.head()

,연번,센터유형,센터명,운영기관,시설명,우편번호,주소,사무실전화번호
0,1,중앙/권역,코로나19 중앙 예방접종센터,국립중앙의료원,국립중앙의료원 D동,4562,서울특별시 중구 을지로 39길 29,02-2260-7114
1,2,중앙/권역,코로나19 중부권역 예방접종센터,순천향대 천안병원,천안시 실내배드민턴장 1층,31212,충청남도 천안시 동남구 천안대로 357,NaN
2,3,중앙/권역,코로나19 호남권역 예방접종센터,조선대병원,조선대학교병원 의성관 5층,61452,광주광역시 동구 필문대로 365,062-220-3739
3,4,중앙/권역,코로나19 영남권역 예방접종센터,양산 부산대병원,양산 부산대병원 기숙사동 1층,50612,경상남도 양산시 물금읍 금오로 20,055-360-6701
4,5,지역,코로나19 대구광역시 중구 예방접종센터,NaN,계명대학교 대구동산병원 별관,41931,대구시 중구 달성로 56,053-661-3955